Checks: >
  readability-braces-around-statements,
  readability-function-size,
  readability-function-cognitive-complexity,
  readability-identifier-naming,
  readability-duplicate-include,
  bugprone-integer-division,
  bugprone-misplaced-operator-in-strlen-in-alloc,
  bugprone-sizeof-expression,
  bugprone-string-constructor,
  bugprone-use-after-move,
  misc-unused-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '40'
  - key: readability-function-size.ParameterThreshold
    value: '5'
  - key: readability-function-cognitive-complexity.Threshold
    value: '10'
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
